body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --item-color: #f5f4fa;
  --logo-black-color: #000000;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #2f303a;
  --card-set-gap: 30px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*=========
   Reset start
   ===========*/
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
/*=========
   Reset end
   ===========*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------HEADER-------*/

.pole-header {
  background-color: var(--primary-bcg-color);
  border-bottom: 1px solid #ececec;
}
.container-header {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: baseline;
}
.logo-header {
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  text-decoration: none;

  margin-right: 93px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-span {
  color: var(--logo-black-color);
}
.list {
  display: flex;
  gap: 50px;

  margin: 0;
}

.list-cnct-header {
  margin-left: auto;
}
.header-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*-------navigation to pages-------*/

.nav-item {
  color: var(--primary-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.streaming-page {
  color: var(--accent-color);
}

/*----hover and focus for all header----*/
.nav-item:hover,
.nav-item:focus,
.contact-item:hover,
.contact-item:focus{
  color: var(--accent-color);
}

.nav-item,
.contact-item {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*-----list od contacts-----*/

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--primary-text-color);
}

.contact-icon {
  fill: currentColor;
}

.contact-item:hover .contact-icon,
.contact-item:focus .contact-icon{
  fill: var(--accent-color);
}

/*--------MAIN--------*/
/*----hero----*/

.hero-page {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bcg-color);
  color: var(--primary-bcg-color);
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-bcg-color);
}
.primary-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: none;
  border-radius: 4px;

  color: var(--primary-bcg-color);
  background-color: var(--accent-color);
}
.primary-btn:hover,
.primary-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*----strong parts----*/

.strong-container {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;

  justify-content: space-between;
}
/*calc()*/
.strong-list {
  flex-basis: calc((100% - 30px * 3) / 4);
}
.strong-list:last-child {
  /*margin-right: 0;*/
}

.strong-item{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background-color: var(--item-color);

}

.strong-icon{
  fill: var(--primary-title-color);
}

.strong-icon #accent-icon{
  fill: var(--accent-color);
}



.strong-part-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}
.strong-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/*----Examples of our work----*/

/*----title for work and team----*/
.work-page {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-title-color);
}

.work-list,
.team-list,
.adres-list,
.btn-list,
.strong-container,
.project-list,
.list,
.strong-lis,
.socials-item,
.clients {
  list-style: none;
}

/*----Our team----*/

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .title {
  margin-bottom: 50px;
}
.team {
  background-color: var(--item-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.container-card-team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-photo {
  display: block;
}
.name-list {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  /*outline: 1px solid red;*/
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: #afb1b8; /*color of icons*/
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}

.card-worker {
  background-color: var(--primary-bcg-color);
  width: calc((100% - 30px * 3) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*------clients section------*/

.clients-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/*--------FOOTER--------*/

.footer-container {
  display: flex;
  gap: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.low-part {
  background-color: var(--secondary-bcg-color);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.footer-span {
  color: var(--primary-bcg-color);
}
.adres-map {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;

  color: var(--primary-bcg-color);
}
.adres-map {
  margin-bottom: 9px;
}
.contact-footer {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.first-contact {
  margin-bottom: 9px;
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.socials-link-ftr {
  display: flex;
  justify-content: center;
  align-items: center;

background-color: #44454E;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  /*outline: 1px solid red;*/
}

.socials-icon-ftr {
  fill: #ffffff;
}

.socials-link-ftr:hover,
.socials-link-ftr:focus {
  background-color: var(--accent-color);
}

/*--------MAIN OF PAGE PORTFOLIO--------*/

.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.secondary-btn {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;

  border: none;
  border-radius: 4px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
  background-color: var(--item-color);
  cursor: pointer;
}
.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-bcg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.frst-prtf-btn {
  padding: 6px 25px;
}

.btn-list > li + li {
  margin-left: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  /*flex-basis: calc((100% - 30px * 2) / 3);*/
  /*justify-content: space-between;*/
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
/*.project-element:not(:nth-child(n + 7)){
    margin-bottom: 30px;
}*/
.project-element {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}
.project-link {
  display: block;
  text-decoration: none;
}
.project-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-progect {
  display: block;
}
.nm-project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: #757575;
}
